<!DOCTYPE html>
<html>
    <head>
        <title> Tears of Mars | ABOUT </title>
            <link rel = "stylesheet" href = "Static/CSS/Style.css">
    </head>
    <body>
    <h1 align = "center"> Tears of Mars</h1>
    <nav>
        <ul>
            <li> <a href = "javascript:history.back()"> HOME </a> </li>
            <li> <a href = "javascript:window.location.reload();"> ABOUT </a> </li>
            <li> <a href = "/Music.html"> MUSIC </a> </li>
        </ul>
    </nav>
        <div style = "text-align: center;">
    <img src = "Static/Images/bandmembers.jpg" alt = "Band Members" style = "width:400px;height300px">
    </div>
    <p>
        Tears of Mars, an inspiring upcoming band, has left an indelible mark on the airwaves and listeners.
        Raised in the suburban town of Joppa just on the outskirts of Baltimore, MD,
        They are blazing their way along
        the East Coast. The band consists of five brothers
    </p>
        <h2 align = "left"> Members: </h2>
        <ol>
            <li> Josiah Orsie - Vocals, Guitar, Keyboards </li>
            <li> Luke Orsie - Lead guitar </li>
            <li> Micah Orsie - Bass </li>
            <li> Elias Orsie - Drums </li>
            <li> Judah Orsie - Keyboards, Percussion, Ambience </li>
        </ol>
    <p> Read more by clicking the following link. </p>
    <a href = "https://www.last.fm/music/Tears+of+Mars/+wiki">
    <img src = "Static/Images/lastfmIcon.png" alt = "Last FM Icon" style = "width:42px;height42px"> </a>
    </body>
</html>