<!DOCTYPE html>
<html>
    <head>
    <title> Tears of Mars | HOME </title>
        <link rel = "stylesheet" href = "Static/CSS/Style.css">
    </head>
    <style>
        body{
            background-image: url("Static/Images/tearsofmarsbandcover.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            }
    </style>
    <body>
        <h1 align = "center"> Tears of Mars</h1>
        <p> You visited: {{time}} </p>
        <nav>
            <ul>
                <li> <a href = "javascript:window.location.reload();"> HOME </a> </li>
                <li> <a href = "/About.html"> ABOUT </a> </li>
                <li> <a href = "/Music.html"> MUSIC </a> </li>
            </ul>
        </nav>
          <p>
            Welcome to Tears of Mars the band home page.This is a place to find out more about the band Tears of Mars.
            Click on the links to find out more!
        </p>
    </body>
</html>