<!DOCTYPE html>
<html>
<head>
    <title> Tears of Mars | MUSIC </title>
        <link rel = "stylesheet" href = "Static/CSS/Style.css">
</head>
<body>
<h1 align = "center"> Tears of Mars</h1>
   <nav>
       <ul>
           <li> <a href = "javascript:history.back(/Home.html)"> HOME </a> </li>
           <li> <a href = "javascript:history.back()"> ABOUT </a> </li>
           <li> <a href = "javascript:window.location.reload();"> MUSIC </a> </li>
       </ul>
   </nav>
<p> Listen or Buy their latest album:</p>
<form>
    <input type = "button" onclick = "window.location.href = 'https://tearsofmars.bandcamp.com/album/gunpowder';"
           value = "&#9658 Band Camp">
</form>
   <p>
       Listen to Their music by clicking one of the below links.
   </p>
    <h3 align = "left"> Music Links: </h3>
    <ul>
        <li> <a href = "https://open.spotify.com/artist/7FHUDYgxLf4RNGoDIDhUhh">
        <img src = "Static/Images/spotifyicon.png" alt = "Spotify Icon" style = width:42px;height42px> </a> </li>
        <li> <a href = "https://music.apple.com › us › artist › tears-of-mars › 278247059">
        <img src = "Static/Images/applemusicicon.png" alt = "Apple Music Icon" style = width:42px;height42px> </a> </li>
    </ul>
        <p> Watch Tears of Mars on YouTube! </p>
    <div>
        <h4 align = "left"> Video Link: </h4>
    </div>
        <a href = "https://www.youtube.com/c/tearsofmars">
        <img src = "Static/Images/youtubeicon.png" alt = "YouTube Icon" style = width:42px;height42px> </a>
</body>
</html>